ServerAziendale/Connected Services/SRDBAgendaAziendale/ServiceDBAgendaAziendale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceDBAgendaAziendale" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDBAgendaAziendale_TestConnessione_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnessione" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_TestConnessione_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnessioneResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetInfoLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetInfoLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_InserisciLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_InserisciLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoLavoratori_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratori" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoLavoratori_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratoriResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaEvento" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaProgetto_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaProgetto" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaProgetto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaProgettoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDBAgendaAziendale">
    <wsdl:operation name="TestConnessione">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/TestConnessione" message="tns:IServiceDBAgendaAziendale_TestConnessione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/TestConnessioneResponse" message="tns:IServiceDBAgendaAziendale_TestConnessione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/Login" message="tns:IServiceDBAgendaAziendale_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/LoginResponse" message="tns:IServiceDBAgendaAziendale_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetInfoLavoratore" message="tns:IServiceDBAgendaAziendale_GetInfoLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetInfoLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_GetInfoLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserisciLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/InserisciLavoratore" message="tns:IServiceDBAgendaAziendale_InserisciLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/InserisciLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_InserisciLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratori">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratori" message="tns:IServiceDBAgendaAziendale_GetElencoLavoratori_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratoriResponse" message="tns:IServiceDBAgendaAziendale_GetElencoLavoratori_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaEvento" message="tns:IServiceDBAgendaAziendale_CreaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaEventoResponse" message="tns:IServiceDBAgendaAziendale_CreaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaProgetto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaProgetto" message="tns:IServiceDBAgendaAziendale_CreaProgetto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaProgettoResponse" message="tns:IServiceDBAgendaAziendale_CreaProgetto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDBAgendaAziendale" type="tns:IServiceDBAgendaAziendale">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnessione">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/TestConnessione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetInfoLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/InserisciLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratori">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaEvento">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/CreaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaProgetto">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/CreaProgetto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDBAgendaAziendale">
    <wsdl:port name="BasicHttpBinding_IServiceDBAgendaAziendale" binding="tns:BasicHttpBinding_IServiceDBAgendaAziendale">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>