ServerAziendale/Connected Services/SRDBAgendaAziendale/ServiceDBAgendaAziendale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceDBAgendaAziendale" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerAziendaleDB.Modelli" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDBAgendaAziendale_TestConnessione_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnessione" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_TestConnessione_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnessioneResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetInfoLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetInfoLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_InserisciLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_InserisciLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaPassword" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoLavoratori_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratori" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoLavoratori_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratoriResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoLavoratoriToString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratoriToString" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoLavoratoriToString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratoriToStringResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaEvento" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaEvento" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaEvento" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoEventi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoEventi" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoEventi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoEventiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoEventiLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoEventiLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoEventiLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoEventiLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetStoricoEventi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoricoEventi" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetStoricoEventi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoricoEventiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaProgetto_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaProgetto" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_CreaProgetto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaProgettoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaProgetto_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaProgetto" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiornaProgetto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaProgettoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaProgetto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaProgetto" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaProgetto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaProgettoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoProgetti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoProgetti" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoProgetti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoProgettiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoProgettiLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoProgettiLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoProgettiLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoProgettiLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetStoricoProgetti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoricoProgetti" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetStoricoProgetti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoricoProgettiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoObiettivi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoObiettivi" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoObiettivi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoObiettiviResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiungiObiettivo_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiObiettivo" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiungiObiettivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiObiettivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_ModificaObiettivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaObiettivo" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_ModificaObiettivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaObiettivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaObiettivo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaObiettivo" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_EliminaObiettivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaObiettivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoPartecipantiAttivita_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoPartecipantiAttivita" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_GetElencoPartecipantiAttivita_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoPartecipantiAttivitaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiungiPartecipanteAttivita_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiPartecipanteAttivita" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_AggiungiPartecipanteAttivita_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiPartecipanteAttivitaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_RimuoviPartecipanteAttivita_InputMessage">
    <wsdl:part name="parameters" element="tns:RimuoviPartecipanteAttivita" />
  </wsdl:message>
  <wsdl:message name="IServiceDBAgendaAziendale_RimuoviPartecipanteAttivita_OutputMessage">
    <wsdl:part name="parameters" element="tns:RimuoviPartecipanteAttivitaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDBAgendaAziendale">
    <wsdl:operation name="TestConnessione">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/TestConnessione" message="tns:IServiceDBAgendaAziendale_TestConnessione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/TestConnessioneResponse" message="tns:IServiceDBAgendaAziendale_TestConnessione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/Login" message="tns:IServiceDBAgendaAziendale_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/LoginResponse" message="tns:IServiceDBAgendaAziendale_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetInfoLavoratore" message="tns:IServiceDBAgendaAziendale_GetInfoLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetInfoLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_GetInfoLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserisciLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/InserisciLavoratore" message="tns:IServiceDBAgendaAziendale_InserisciLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/InserisciLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_InserisciLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaLavoratore" message="tns:IServiceDBAgendaAziendale_AggiornaLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_AggiornaLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaPassword" message="tns:IServiceDBAgendaAziendale_AggiornaPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaPasswordResponse" message="tns:IServiceDBAgendaAziendale_AggiornaPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaLavoratore" message="tns:IServiceDBAgendaAziendale_EliminaLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_EliminaLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratori">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratori" message="tns:IServiceDBAgendaAziendale_GetElencoLavoratori_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratoriResponse" message="tns:IServiceDBAgendaAziendale_GetElencoLavoratori_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratoriToString">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratoriToString" message="tns:IServiceDBAgendaAziendale_GetElencoLavoratoriToString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratoriToStringResponse" message="tns:IServiceDBAgendaAziendale_GetElencoLavoratoriToString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaEvento" message="tns:IServiceDBAgendaAziendale_CreaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaEventoResponse" message="tns:IServiceDBAgendaAziendale_CreaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaEvento" message="tns:IServiceDBAgendaAziendale_AggiornaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaEventoResponse" message="tns:IServiceDBAgendaAziendale_AggiornaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaEvento" message="tns:IServiceDBAgendaAziendale_EliminaEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaEventoResponse" message="tns:IServiceDBAgendaAziendale_EliminaEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoEventi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoEventi" message="tns:IServiceDBAgendaAziendale_GetElencoEventi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoEventiResponse" message="tns:IServiceDBAgendaAziendale_GetElencoEventi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoEventiLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoEventiLavoratore" message="tns:IServiceDBAgendaAziendale_GetElencoEventiLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoEventiLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_GetElencoEventiLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoricoEventi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetStoricoEventi" message="tns:IServiceDBAgendaAziendale_GetStoricoEventi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetStoricoEventiResponse" message="tns:IServiceDBAgendaAziendale_GetStoricoEventi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaProgetto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaProgetto" message="tns:IServiceDBAgendaAziendale_CreaProgetto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/CreaProgettoResponse" message="tns:IServiceDBAgendaAziendale_CreaProgetto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaProgetto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaProgetto" message="tns:IServiceDBAgendaAziendale_AggiornaProgetto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaProgettoResponse" message="tns:IServiceDBAgendaAziendale_AggiornaProgetto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaProgetto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaProgetto" message="tns:IServiceDBAgendaAziendale_EliminaProgetto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaProgettoResponse" message="tns:IServiceDBAgendaAziendale_EliminaProgetto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoProgetti">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoProgetti" message="tns:IServiceDBAgendaAziendale_GetElencoProgetti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoProgettiResponse" message="tns:IServiceDBAgendaAziendale_GetElencoProgetti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoProgettiLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoProgettiLavoratore" message="tns:IServiceDBAgendaAziendale_GetElencoProgettiLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoProgettiLavoratoreResponse" message="tns:IServiceDBAgendaAziendale_GetElencoProgettiLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoricoProgetti">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetStoricoProgetti" message="tns:IServiceDBAgendaAziendale_GetStoricoProgetti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetStoricoProgettiResponse" message="tns:IServiceDBAgendaAziendale_GetStoricoProgetti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoObiettivi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoObiettivi" message="tns:IServiceDBAgendaAziendale_GetElencoObiettivi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoObiettiviResponse" message="tns:IServiceDBAgendaAziendale_GetElencoObiettivi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiObiettivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiungiObiettivo" message="tns:IServiceDBAgendaAziendale_AggiungiObiettivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiungiObiettivoResponse" message="tns:IServiceDBAgendaAziendale_AggiungiObiettivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaObiettivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/ModificaObiettivo" message="tns:IServiceDBAgendaAziendale_ModificaObiettivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/ModificaObiettivoResponse" message="tns:IServiceDBAgendaAziendale_ModificaObiettivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaObiettivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaObiettivo" message="tns:IServiceDBAgendaAziendale_EliminaObiettivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/EliminaObiettivoResponse" message="tns:IServiceDBAgendaAziendale_EliminaObiettivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoPartecipantiAttivita">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoPartecipantiAttivita" message="tns:IServiceDBAgendaAziendale_GetElencoPartecipantiAttivita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoPartecipantiAttivitaResponse" message="tns:IServiceDBAgendaAziendale_GetElencoPartecipantiAttivita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiPartecipanteAttivita">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiungiPartecipanteAttivita" message="tns:IServiceDBAgendaAziendale_AggiungiPartecipanteAttivita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/AggiungiPartecipanteAttivitaResponse" message="tns:IServiceDBAgendaAziendale_AggiungiPartecipanteAttivita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RimuoviPartecipanteAttivita">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/RimuoviPartecipanteAttivita" message="tns:IServiceDBAgendaAziendale_RimuoviPartecipanteAttivita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDBAgendaAziendale/RimuoviPartecipanteAttivitaResponse" message="tns:IServiceDBAgendaAziendale_RimuoviPartecipanteAttivita_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDBAgendaAziendale" type="tns:IServiceDBAgendaAziendale">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnessione">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/TestConnessione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetInfoLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/InserisciLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/EliminaLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratori">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratoriToString">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoLavoratoriToString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaEvento">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/CreaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaEvento">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaEvento">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/EliminaEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoEventi">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoEventi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoEventiLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoEventiLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoricoEventi">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetStoricoEventi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaProgetto">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/CreaProgetto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaProgetto">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/AggiornaProgetto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaProgetto">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/EliminaProgetto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoProgetti">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoProgetti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoProgettiLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoProgettiLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoricoProgetti">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetStoricoProgetti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoObiettivi">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoObiettivi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiObiettivo">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/AggiungiObiettivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaObiettivo">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/ModificaObiettivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaObiettivo">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/EliminaObiettivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoPartecipantiAttivita">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/GetElencoPartecipantiAttivita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiPartecipanteAttivita">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/AggiungiPartecipanteAttivita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RimuoviPartecipanteAttivita">
      <soap:operation soapAction="http://tempuri.org/IServiceDBAgendaAziendale/RimuoviPartecipanteAttivita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDBAgendaAziendale">
    <wsdl:port name="BasicHttpBinding_IServiceDBAgendaAziendale" binding="tns:BasicHttpBinding_IServiceDBAgendaAziendale">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerAziendaleDB/ServiceDBAgendaAziendale/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>