AgendaAziendale/Connected Services/SRAgendaAziendale/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerAziendaleDB.Modelli" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerAziendaleDB.Modelli" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LavoratoreSRV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Residenza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LavoratoreSRV" nillable="true" type="tns:LavoratoreSRV" />
  <xs:complexType name="ArrayOfLavoratoreSRV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LavoratoreSRV" nillable="true" type="tns:LavoratoreSRV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLavoratoreSRV" nillable="true" type="tns:ArrayOfLavoratoreSRV" />
  <xs:complexType name="EventoSRV">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AttivitaSRV">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Luogo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventoSRV" nillable="true" type="tns:EventoSRV" />
  <xs:complexType name="AttivitaSRV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInizio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttivitaSRV" nillable="true" type="tns:AttivitaSRV" />
  <xs:complexType name="ArrayOfEventoSRV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventoSRV" nillable="true" type="tns:EventoSRV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventoSRV" nillable="true" type="tns:ArrayOfEventoSRV" />
  <xs:complexType name="ProgettoSRV">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AttivitaSRV">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Obiettivi" nillable="true" type="tns:ArrayOfObiettivoSRV" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgettoSRV" nillable="true" type="tns:ProgettoSRV" />
  <xs:complexType name="ArrayOfObiettivoSRV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObiettivoSRV" nillable="true" type="tns:ObiettivoSRV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObiettivoSRV" nillable="true" type="tns:ArrayOfObiettivoSRV" />
  <xs:complexType name="ObiettivoSRV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Completato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Desccrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObiettivoSRV" nillable="true" type="tns:ObiettivoSRV" />
  <xs:complexType name="ArrayOfProgettoSRV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgettoSRV" nillable="true" type="tns:ProgettoSRV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgettoSRV" nillable="true" type="tns:ArrayOfProgettoSRV" />
</xs:schema>