AgendaAziendale/Connected Services/SRAgendaAziendale/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerAziendaleDB.Modelli" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerAziendaleDB.Modelli" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LavoratoreSRV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Residenza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LavoratoreSRV" nillable="true" type="tns:LavoratoreSRV" />
  <xs:complexType name="EventoSRV">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AttivitaSRV">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Luogo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventoSRV" nillable="true" type="tns:EventoSRV" />
  <xs:complexType name="AttivitaSRV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataInizio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttivitaSRV" nillable="true" type="tns:AttivitaSRV" />
</xs:schema>