AgendaAziendale/Connected Services/SRAgendaAziendale/ServiceAgendaAziendale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceAgendaAziendale" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendale/ServiceAgendaAziendale/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServerAziendale/ServiceAgendaAziendale/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAgendaAziendale_TestConnessione_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnessione" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_TestConnessione_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnessioneResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_GetInfoLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_GetInfoLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_InserisciLavoratore_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciLavoratore" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_InserisciLavoratore_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciLavoratoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_GetElencoLavoratori_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratori" />
  </wsdl:message>
  <wsdl:message name="IServiceAgendaAziendale_GetElencoLavoratori_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElencoLavoratoriResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAgendaAziendale">
    <wsdl:operation name="TestConnessione">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/TestConnessione" message="tns:IServiceAgendaAziendale_TestConnessione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/TestConnessioneResponse" message="tns:IServiceAgendaAziendale_TestConnessione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/Login" message="tns:IServiceAgendaAziendale_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/LoginResponse" message="tns:IServiceAgendaAziendale_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/GetInfoLavoratore" message="tns:IServiceAgendaAziendale_GetInfoLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/GetInfoLavoratoreResponse" message="tns:IServiceAgendaAziendale_GetInfoLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserisciLavoratore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/InserisciLavoratore" message="tns:IServiceAgendaAziendale_InserisciLavoratore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/InserisciLavoratoreResponse" message="tns:IServiceAgendaAziendale_InserisciLavoratore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratori">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/GetElencoLavoratori" message="tns:IServiceAgendaAziendale_GetElencoLavoratori_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgendaAziendale/GetElencoLavoratoriResponse" message="tns:IServiceAgendaAziendale_GetElencoLavoratori_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAgendaAziendale" type="tns:IServiceAgendaAziendale">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnessione">
      <soap:operation soapAction="http://tempuri.org/IServiceAgendaAziendale/TestConnessione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceAgendaAziendale/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceAgendaAziendale/GetInfoLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciLavoratore">
      <soap:operation soapAction="http://tempuri.org/IServiceAgendaAziendale/InserisciLavoratore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElencoLavoratori">
      <soap:operation soapAction="http://tempuri.org/IServiceAgendaAziendale/GetElencoLavoratori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAgendaAziendale">
    <wsdl:port name="BasicHttpBinding_IServiceAgendaAziendale" binding="tns:BasicHttpBinding_IServiceAgendaAziendale">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerAziendale/ServiceAgendaAziendale/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>